// BASE FONT
$base-font-size: 10;

// COLORS
$white: #fff;
$white-two: #f6f6f6;
$black: #222;
$sun-yellow: #ffcc33;
$green: #00cb65;
$warm-grey: #7e7e7e;
$dark-grey: #404040;
$black-45:rgba(0, 0, 0, 0.45);
