.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  @include breakpoint(desktop) {
    align-items: baseline;
  }
}

.c-article-preview-square {
  width: 15.6rem;
  @include breakpoint(desktop) {
    width: 27.2rem;
  }
}

.c-article-preview-square-lg {
  width: 33.6rem;
  @include breakpoint(desktop) {
    width: 49.2rem;
  }

}
