
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5rem auto;
    @include breakpoint(desktop) {
      width: 50%;
    }
  }

  .row--desktop {
    @include breakpoint(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  
  .c-article-preview-square {
    width: 47.7%;
  }

  .c-article-preview-square-lg {
    width: 100%;
    @include breakpoint(desktop) {
      width: 47.7%;
    }
  }