.page {
    color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  ///////////////////
  // Unique Style //
  /////////////////
  
  .p-static {
    color: $black;
    text-transform: uppercase;
    margin: 5rem auto 7.7rem;
    @include breakpoint(desktop) {
      margin: 4.7rem auto 11rem;
    }
  }
  
  .page-title {
    @include fontSizeRem(36,70);
    line-height: 1.22;
    font-family: "Lato-Bold";
    text-align: center;
    margin-bottom: 3.6rem;
    @include breakpoint(desktop) {
      margin-bottom: 9.8rem;
    }
  }
  
  .static-page__paragraph {

    margin-bottom: 2.8rem;
    @include breakpoint(desktop) {
      margin-bottom: 5rem;
    }
  
    &-title {
      @include fontSizeRem(18,32);
      font-size: 1.8rem;
      font-family: "Lato-Bold";
      margin-bottom: 1.1rem;
      @include breakpoint(desktop) {
        margin-bottom: 1.7rem;
      }
    }
  
    &-text {
      @include fontSizeRem(14,18);
      line-height: 1.5;
      text-transform: none;
      color: $dark-grey;
      margin-bottom: 1rem;
    }
  
  }