.full-width-wrapper {
  width: 100%;
}

.main-wrapper {
  width: 100%;
  margin: 0 auto;
  @include breakpoint(desktop) {
    max-width: 1440px;
  }
}

.inner-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  @include breakpoint(desktop) {
    max-width: 1100px;
    width: 110rem;
    padding: 0;
  }
  &--full {
    @extend .inner-wrapper;
    padding: 0;
  }
}
